body{
  background: #111;
  overflow: hidden;
}

.container{
  width: 100%;
  height: 100vh;
  opacity: 0;
}

button:focus{
  outline:0;
}

.view__img{
  width: 100%;
  text-align: center;
}

.view__img img{
  width: 100%;
  max-height: 100vh;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.thumb__wrapper{
  padding: 0;
}

.slider__thumbs{
  position: fixed;
  bottom: 10px;
  background: rgba(0,0,0,0.5);
}

.thumb__wrapper{
  padding: 0px;
  display: inline-block;
  position: relative;
  width: 25%;
}

.thumbs__img{
  width: 100%;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 20px 0;
}

.thumbs__img img {
  width: 100%;
  height: 150px;
}

.thumbnail{
  border: none;
  margin-bottom: 0;
  padding: 0;
}

.thumbnail img
{
    border:0;
    width:100%;
    height: 180px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(0.9);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(0.9);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(0.9);
    transition: all 200ms ease-in;
    transform: scale(0.9);
}

.thumbnail img:hover
{
    box-shadow: 0px 0px 30px #222;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}

.scroll__btn {
  position: absolute;
  z-index:3;
  border: none;
  background: #000;
  display:none;
  opacity: 0.6;
  width: 45px;
}

.left__btn{
  left: 0
}

.right__btn{
  right: 0
}

@media (max-width: 640px){
  .slider__thumbs{
    position: relative;
    top:10px;
  }
  .slider__wrapper{
    margin-top: 20px;
  }

  .thumbnail img{
    height: 100px;
  }
}

/* take a tour navbar*/
#bckgnd
{
  font-family:"Source Sans Pro", Helvetica, sans-serif;
  font-weight: bold;
}

#nav {
    color: aqua;
    opacity: 0.8;
    background: rgba(255, 255, 255, 0.175);
    height: 4rem;
    line-height: 4rem;
    margin: 0 auto 0 14rem;
    overflow: hidden;
    padding: 0 2rem 0 0;
    position: relative;
    width: calc(80% - 4rem);
    max-width: 72rem;
    z-index: 2;
    vertical-align: baseline;
}

.logo
{
   font-size:34px;
   color: white;
   text-shadow: 2px 2px 8px #4527A0;
   margin-bottom:-3rem;

}

ul
{
  display:block;
}

li a:link
{
  text-decoration: underline;
}
#nav .links , #nav .icons
{
  list-style: none;
  padding-left:0;
  margin:0 0 0 2rem;
  overflow:hidden;
}

.links li
{
  margin: 0 0 0 1rem;
  float:left;
  border-top:0;
}


a.active
{
  color:black;
}
#nav .links li a
{
  font-size: 18px;
 display:block;
 color:black;
 text-align:center;
 padding:5px;
 font-family:"Source Sans Pro", Helvetica, sans-serif;
 text-decoration:none;
}


.links li.active
{
  background-color: white;
  opacity:0.5;
  text-decoration: underline;
}

li .icon
{
  position:relative;
  float:right;
  font-size:17px;
  color:black;
 text-decoration:none;
}

ul.icons
{
  cursor:default;
  list-style:none;
  padding:0;
}

.icon
{
  text-decoration: none;
  border-bottom:none;
  position: relative;
}

.logo
{
  padding:2rem 1rem 0 1rem;
}

 #header .logo
 {
   margin-top:-34px;
   padding-top:2rem;
   visibility: visible;
   position:relative;
 }