{% load static %}
<!DOCTYPE HTML>
<html>

<head>
    <title>
        here2there
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/test.css' %}" />
    <noscript>
        <link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" />
    </noscript>
</head>
	<body class="is-loading">

		<!-- Wrapper -->
		<div id="wrapper">
			
					<!-- Header -->
					<header id="header">
						<p class="logo" style="font-size:34px">here<sub style="font-size:34px" >2</sub>there</p>
					</header>
			
					<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li><a href="{% url 'home' %}">HOME</a></li>
							<li><a href="{% url 'transport' %}">Tranpsort</a></li>
							<li><a href="{% url 'mapview' %}">Map View</a></li>
							<li  class="active"><a href="{% url 'contactus' %}">Contact Us</a></li>
						</ul>
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
				<div id="main">
					<h3>CONTACT US</h3>
					<div class="contactcontainer">
						<div class="containercontactt">
							<div class="containercontact">
								<form action="/action_page.php">
									<input type="text" id="contctuser" placeholder="User name..">
									<input type="text" id="contctemail" placeholder="Your Email..">
									<textarea id="contctmsg" placeholder="Write something.."></textarea>
									<br>
									<input type="button" value="SUBMIT" id="contctbtn">
							</div>
						</div>
						<br>
						<div class="containercontactt02">
							<div class="containercontact02">
								<p style="font-size:34px;color:rgb(14, 13, 13);text-align:center;font-style:oblique">
									<b>here<sub style="font-size:34px" >2</sub>there<br>
														Contact : (000)000-000<br>
														Email:here2there@info.com<br></b></p>
							</div>
						</div>
					</div>
				</div>

					                    
                    <footer id="footerid">
							<div class="footercontainer" >
								   <img src="{% static 'assets/images/fotimg.jpg' %}" alt="footer_img" class="footerimg" >
								</div>
								
							</footer>
</div>
				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy;[PYTHON]{DJANGO}</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li></ul>
					</div>

			</div>

		<!-- Scripts -->
			 <!-- Scripts -->
			 <script src="{% static 'assets/js/jquery.min.js' %}"></script>
			 <script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			 <script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			 <script src="{% static 'assets/js/skel.min.js' %}"></script>
			 <script src="{% static 'assets/js/util.js' %}"></script>
			 <script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>