{% load static %}
<!DOCTYPE HTML>
<html>

<head>
    <title>
        here2there
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/test.css' %}" />
    <noscript>
        <link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" />
    </noscript>

</head>

<body class="is-loading">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <p class="logo" style="font-size:34px">here<sub style="font-size:34px">2</sub>there</p>
        </header>

        <!-- Nav -->
        <nav id="nav" style="height:100%">
            <ul class="links">
                <li><a href="{% url 'home' %}">HOME</a></li>
                <li class="active"><a href="{% url 'transport' %}">Tranpsort</a></li>
                <li><a href="{% url 'takeatour'' %}">Take a Tour</a>/a></li>
                <li><a href="{% url 'contactus' %}">Contact Us</a></li>
            </ul>
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>

            </ul>
        </nav>

        <!-- Main -->
        <div id="main">

            <div class="containersrch">
                <!--<img src="{% static 'assets/images/worldmap.gif' %}" alt="Norway" style="width:100%;">-->
                <div id="map"></div>
                <div class="searchform">
                    <form>
                        <h4 class="titlesrch">Travel search:</h4>
                        <br>
                        <input type="text" id="trsptstart" placeholder="Starting point">
                        <input type="text" id="trsptdestntn" placeholder="Destination">
                        <br>
                        <a href="{% url 'home' %}" id="tserachbtn">SEARCH  &raquo</a>
                    </form>
                </div>
            </div>

            <div class="8u 12u$(small)">
                <article>
                    <div class="tab">
                        <h4>choose vehicle</h4>
                        <button class="tablinks">WALKING</button>
                        <button class="tablinks">BICYCLING</button>
                        <button class="tablinks">DRIVING</button>
                        <button class="tablinks">BUS</button>
                        <button class="tablinks">RAIL</button>
                        <button class="tablinks">SUBWAY</button>
                        <button class="tablinks">TRAIN</button>


                        <!--<button class="tablinks">EXPLORE</button>-->

                    </div>
                    <br>

                    <div id="directPanel" class="tabcontent"></div>

                    <!--<div id="Bus" class="tabcontent">
                        <p style="margin-top:10px">straight right back left.</p>
                    </div>

                    <div id="Plane" class="tabcontent">
                        <p style="margin-top:10px">turn left .</p>
                    </div>

                    <div id="Walk" class="tabcontent">
                        <p style="margin-top:10px"> turn right.</p>
                    </div>-->



            </div>
            </article>
        </div>
        <footer id="footerid">
            <div class="footercontainer">
                <img src="./images/fotimg.jpg" alt="footer_img" class="footerimg">
            </div>

        </footer>

        <!-- Scripts -->
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
        <script src="{% static 'assets/js/skel.min.js' %}"></script>
        <script src="{% static 'assets/js/util.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <script src="{% static 'assets/js/searchResult.js' %}"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_lIaoUCpZ5bu91ZcA2X0CwTLswtzWV1s&callback=initMap"></script>



</body>

</html>